<div id="sidebar-wrapper">
    <ul class="sidebar" ng-nicescroll>
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()" href="">
            <img src="img/POSlogo.png" width="53px">
            POS17
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 0}"><a ui-sref="main.home" href=""><i class="menu-icon fa fa-fw fa-dashboard"></i> Dashboard</a></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 1}"><a ui-sref="main.viewProduct"><i class="menu-icon fa fa-fw fa-gift"></i> Products</a></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 2}"><a ui-sref="main.purchaseorder"><i class="menu-icon fa fa-fw fa-table"></i> Purchase Order</a></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 3}"><a ui-sref="main.campaign"><i class="menu-icon fa fa-fw fa-desktop"></i> Campaign & Loyalty</a></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 4}"><a ui-sref="main.financials"><i class="menu-icon fa fa-fw fa-money"></i> Financials</a></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 5}"><a ui-sref="main.reports"><i class="menu-icon fa fa-fw fa-bar-chart-o"></i> Reports</a></li>
        <li class="sidebar-title"><span>SETTINGS</span></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 6}">
            <a ui-sref="main.settingsStore" href=""><i class="menu-icon fa fa-fw fa-home"></i> Store</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 7}">
            <a ui-sref="main.settingsBanks" href=""><i class="menu-icon fa fa-fw fa-bank"></i> Bank</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 8}">
            <a ui-sref="main.settingsAttribute" href=""><i class="menu-icon fa fa-fw fa-list-ol"></i> Attribute</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 9}">
            <a ui-sref="main.settingsCategories" href=""><i class="menu-icon fa fa-fw fa-list"></i> Category</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 10}">
            <a ui-sref="main.settingsProducttype" href=""><i class="menu-icon fa fa-fw fa-cubes"></i> Product Type</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 11}">
            <a ui-sref="main.suppliers" href=""><i class="menu-icon fa fa-fw fa-truck"></i> Supplier</a>
        </li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 11}">
            <a ui-sref="main.employees" href=""><i class="menu-icon fa fa-fw fa-user"></i> Employees</a>
        </li>
        <li class="divider"></li>
        <li class="sidebar-list" ng-class="{active: selectedTab == 12}">
            <a ui-sref="main.useraccounts" href=""><i class="menu-icon fa fa-fw fa-users"></i> User Access Control</a>
        </li>
    </ul>
</div>
