<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">User Group</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="usergroupSelected" ng-change="generateAccessPermission(usergroupSelected)">
                                <ui-select-match allow-clear="true" placeholder="Select User Role...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="row in (usergroups | filter: $select.search) track by row.role_id">
                                    {{row.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <button ng-click="reloadData()" class="btn btn-success"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
                    <button ng-click="UpdatePermission()" class="btn btn-primary" ng-disabled="isUpdate"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update Permission</button>
                    <button ng-click="reset()" class="btn btn-warning" ng-disabled="isReset"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Description</th>
                                <th width="30">
                                    READ
                                </th>
                                <th width="30">
                                    WRITE
                                </th>
                                <th width="30">
                                    DELETE
                                </th>
                                <th width="30">
                                    PRINT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                            <tr ng-repeat="row in permissions" ng-repeat-end-watch="myFunction">
                                <td class="text-center center-td">{{row.name}}</td>
                                <td>{{row.item_name}}</td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultRead" ng-checked="IntToBoolean(row.DefaultRead)" ng-disabled="row.DefaultReadDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultWrite" ng-checked="IntToBoolean(row.DefaultWrite)" ng-disabled="row.DefaultWriteDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultDelete" ng-checked="IntToBoolean(row.DefaultDelete)" ng-disabled="row.DefaultDeleteDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultPrint" ng-checked="IntToBoolean(row.DefaultPrint)" ng-disabled="row.DefaultPrintDisable">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
