<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row" ng-init="init()">
    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <a class="btn btn-primary" ui-sref="main.permissions" href=""><span class="fa fa-lock" aria-hidden="true"></span> User Access Control</a>
                    </div>
                </div>
            </div>
        </div>
        <uib-tabset>
            <uib-tab heading="User Accounts">
                <br>
                <div class="row" role="search-row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <div class="form-group">
                                <a ng-click="newUserAccount()" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> User Account</a>
                                <a ng-click="refreshUser()" class="btn btn-success"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Refresh</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <form class="form-inline float-right" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                        <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="table-responsive">
                            <table ng-table="accountsTable" class="table table-striped table-hover">
                                <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                <tr ng-repeat="row in data" ng-click="newUserAccount(row.uc_id)">
                                    <td class="text-center" data-title="'Name'">
                                        {{row.EmpName}}
                                    </td>
                                    <td class="text-center" data-title="'User Name'">
                                        {{row.username}}
                                    </td>
                                    <td class="text-center" data-title="'User Roles'">
                                        <span class="role-tag label label-default" ng-repeat="tag in row.userRoles">{{tag.name}}</span>
                                    </td>
                                    <td class="text-center" data-title="'Account Validity'">
                                        {{row.valid_until | amDateFormat:'MM/DD/YYYY'}}
                                    </td>
                                    <td class="text-center">
                                        <!--  <a class="btn btn-info btn-xs" ng-click="newUserAccount(row.uc_id)" href=""><span class="glyphicon glyphicon-edit"></span> Edit</a> -->
                                        <a class="btn btn-danger btn-xs pull-right" ng-click="toggleModal(row.uc_id,$index,'users')" href=""><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="User Groups">
                <br>
                <div class="row" role="search-row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <div class="form-group">
                                <a ng-click="newUserGroup()" class="btn btn-primary"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> User Groups</a>
                                <a ng-click="refreshUserGroup()" class="btn btn-success"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Refresh</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <form class="form-inline float-right" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="table-responsive">
                            <!-- <table class="table table-bordered table-hover table-striped table-usergroup">
                                <thead>
                                    <tr>
                                        <th width="30">
                                            <input type="checkbox" ng-model="selectDeselectAll2" ng-change="changeSelectDeselectAll2()">
                                        </th>
                                        <th>User Group</th>
                                        <th>Description</th>
                                        <th class="text-center" width="25%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                    <tr ng-repeat="row in usergroups">
                                        <td>
                                            <input type="checkbox" ng-model="row.selected">
                                        </td>
                                        <td>{{row.name}}</td>
                                        <td>{{row.description}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-xs" ng-click="setPermission(row)" href=""><span class="glyphicon glyphicon-edit"></span> Permissions</a>
                                            <a class="btn btn-info btn-xs" ng-click="newUserGroup(row.role_id)" href=""><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                            <a class="btn btn-danger btn-xs" ng-click="toggleModal(row.role_id,$index,'usergroups')" href=""><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <table ng-table="agroupsTable" class="table table-striped table-hover table-usergroup">
                                <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                <tr ng-repeat="var in data2">
                                    <td class="text-center" data-title="'User Group'">
                                        {{var .name}}
                                    </td>
                                    <td class="text-center" data-title="'Description'">
                                        {{var.description}}
                                    </td>
                                    <td class="text-center">
                                        <div class="pull-right">
                                            <a class="btn btn-primary btn-xs" ng-click="setPermission(row)" href=""><span class="glyphicon glyphicon-edit"></span> Permissions</a>
                                            <a class="btn btn-info btn-xs" ng-click="newUserGroup(row.role_id)" href=""><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                            <a class="btn btn-danger btn-xs" ng-click="toggleModal(row.role_id,$index,'usergroups')" href=""><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
