<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row" ng-init="init()">

    <script type="text/ng-template" id="checkboxheader.html">
        <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
    </script>


    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <button class="btn btn-primary" ui-sref="main.settingsBank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Bank</button>
                        <button ng-click="deleteSelected()" class="btn btn-danger" ng-disabled="!deleteSomeData"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                        <button ng-click="refresh()" class="btn btn-success"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <form class="form-inline float-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                <span class="input-group-btn">
                                    <button ng-click="refresh();"class="btn btn-primary search-btn" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table ng-table="bankTable" class="table table-striped table-hover ">
                                <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                <tr ng-repeat="row in $data">
                                    <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                                        <input type="checkbox" ng-model="row.selected" ng-change="checkDataChanges(row)">
                                    </td>
                                    <td class="text-center" data-title="'Name'">
                                        {{row.name}}
                                    </td>
                                    <td class="text-center" data-title="'Address'">
                                        {{row.address}}
                                    </td>
                                    <td class="text-center ">
                                        <button class="btn btn-info btn-xs" ng-click="edit(row)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                        <button class="btn btn-danger btn-xs" ng-click="toggleModal(row.bk_id, $index);"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-->
                </div>
            </div>
        </div>
    </div>
</div>
