<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                        <input type="hidden" ng-model="storesave.store_id">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required placeholder="Enter Store Name" ng-model="bank.name" required="required" name="name">
                            <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.address.$valid && (!theForm.address.$pristine || theForm.$submitted),
                        'has-success':theForm.address.$valid && (!theForm.address.$pristine || theForm.$submitted)}">
                        <label for="code" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" required placeholder="Enter Address" ng-model="bank.address" required="required" name="address"></textarea>
                            <p class="help-block" ng-show="theForm.address.$error.required && (!theForm.address.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr>
        <div class="pull-right">
            <button ui-sref="main.settingsStore" class="btn btn-warning">Cancel</button>
            <button class="btn btn-primary" ng-click="saveBank()">Save</button>
        </div>
    </div>
</div>
