<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="row" role="search-row">
        <div class="col-lg-12 col-md-12">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                    <button ui-sref="main.settingsAddProducttype" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <form class="form-inline float-right" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                            <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="30">
                                    <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                </th>
                                <th class="">Name</th>
                                <th class="">Label</th>
                                <th class="">Description</th>
                                <th class="text-center" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in prodTypdeData | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                <td>
                                    <input type="checkbox" ng-model="var.selected">
                                </td>
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.label}}
                                </td>
                                <td>
                                    {{var.description}}
                                </td>
                                <td class="text-center">
                                    <button ng-click="edit(var)" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                                    <button ng-click="toggleModal(var.ptype_id,var.name, $index);" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <div>
                        <nav class="pull-right">
                            <ul class="pagination">
                                <li><a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a></li>
                                <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                    <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                </li>
                                <li><a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a></li>
                            </ul>
                        </nav>
                        </div>
                    <modal title="POS 17" visible="showModal">
                        <form role="form">
                            <span>Are you sure you want to delete the Product Type: {{todelete.TDname}}?</span>
                            <div class="col-md-1 pull-right">
                                <button ng-click="close()" type="button" class="btn btn-warning pull-right" style="margin-top:-8px;" title="No">No</button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <button type="button" class="btn btn-danger pull-right" title="Delete" style="margin-top:-8px;" ng-click="removePType();">Yes</button>
                            </div>
                        </form>
                    </modal>
                </div>
            </div>
        </div>
    </div>
</div>
