<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <uib-tabset>
            <uib-tab heading="Product Details" select="tabclick('product')" ng-hide="tabprod.product" active="tab.product">
                <div ng-include="'templates/product/prodproperty.html'" ng-hide="$parent.tabprod.product"></div>
            </uib-tab>
            <uib-tab heading="Store" select="tabclick('store')" ng-hide="tabprod.store" active="tab.store">
                 <div ng-include="'templates/product/store.html'" ng-hide="$parent.tabprod.store"></div>
            </uib-tab>
            <uib-tab heading="Price" select="tabclick('price')" ng-hide="tabprod.price" active="tab.price">
                <div ng-include="'templates/product/price.html'" ng-hide="$parent.tabprod.price"></div>
            </uib-tab>
            <!-- <uib-tab heading="Category" select="tabclick('category')" ng-hide="tabprod.category" active="tab.category">
                <div ng-include="'templates/product/category.html'" ng-hide="$parent.tabprod.category"></div>
            </uib-tab>
            <uib-tab heading="Attribute" select="tabclick('attribute')" ng-hide="tabprod.attribute" active="tab.attribute">
                <div ng-include="'templates/product/attrib.html'" ng-hide="$parent.tabprod.attribute"></div>
            </uib-tab>
            <uib-tab heading="Variation" select="tabclick('variation')" ng-hide="tabprod.variation" active="tab.variation">
                <div ng-include="'templates/product/variation.html'" ng-hide="$parent.tabprod.variation"></div>
            </uib-tab> -->
        </uib-tabset>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
            <div class="pull-right">
                <button class="btn btn-default">Cancel</button>
                <button class="btn btn-primary" ng-click="actionSave()">Save</button>
            </div>
        </div>
    </div>
</div>
