<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2">
        <center>
            <ul class="nav nav-pills nav-stacked" id="Sidemenu">
                <li role="presentation" ng-class="getClass('/main/addproduct')">
                    <a href="" ng-click="gotoProduct()">Product Detail</a>
                </li>
                <li role="presentation" ng-class="getClass('/main/association')">
                    <a href="" ng-click="gotoAssociation()">Associations</a>
                </li>
            </ul>
        </center>
    </div>
    <div class="col-lg-10 col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Nav tabs -->
                <uib-tabset>
                    <uib-tab heading="Product Details">
                        <div ng-include="'templates/product/attrib.html'"></div>
                    </uib-tab>
                    <uib-tab heading="Attribute">
                        <div ng-include="'templates/product/attrib.html'"></div>
                    </uib-tab>
                    <uib-tab heading="Variation">
                        <div ng-include="'templates/product/variation.html'"></div>
                    </uib-tab>
                    <uib-tab heading="Store">
                        <div ng-include="'templates/product/store.html'"></div>
                    </uib-tab>
                    <uib-tab heading="Price">
                        <div ng-include="'templates/product/price.html'"></div>
                    </uib-tab>
                    <uib-tab heading="Category">
                        <div ng-include="'templates/product/category.html'"></div>
                    </uib-tab>
                </uib-tabset>
                <!-- === end of tabs ==== -->
            </div>
        </div>
    </div>
</div>
