<div ng-controller="categoryCTRL">
    <h3>Category</h3>
    <hr>
    <form ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
        <div class="form-group" ng-class="{
                        'has-error':!theForm.parentCat.$valid && (!theForm.parentCat.$pristine || theForm.$submitted),
                        'has-success':theForm.parentCat.$valid && (!theForm.parentCat.$pristine || theForm.$submitted)}">
            <label for="categoryName">Category</label>
            <div class="input-group">
                <select class="form-control" ng-change="getData(category.id)" ng-model="category.id" required="required" name="parentCat">
                    <option ng-repeat="cat in categ.availableOptions" value="{{cat.id}}">{{cat.name}}</option>
                </select>
                <p class="help-block" ng-show="theForm.parentCat.$error.required && (!theForm.parentCat.$pristine || theForm.$submitted)">
                    This field is required
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{
                        'has-error':!theForm.subCat.$valid && (!theForm.subCat.$pristine || theForm.$submitted),
                        'has-success':theForm.subCat.$valid && (!theForm.subCat.$pristine || theForm.$submitted)}">
            <label for="storeName">Subcategory</label>
            <ui-select multiple ng-model="category.sub" required="required" name="subCat">
                <ui-select-match>
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
            <p class="help-block" ng-show="theForm.subCat.$error.required && (!theForm.subCat.$pristine || theForm.$submitted)">
                This field is required
            </p>
        </div>
    </form>
</div>
