<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2">
        <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="categoryData" data-node-id="id" data-node-label="label" data-node-children="items">
        </div>
    </div>
    <div class="col-lg-10 col-md-10">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" ui-sref="main.addproduct"><span class="glyphicon glyphicon-plus"></span> New Product</button>
                        <button ng-if="$root.notSelect == '1' " ng-click="archived(1)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-folder-open"></span> Archive</button>
                        <button ng-if="$root.notSelect == '0' " ng-click="archived(0)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-folder-open"></span> Restore</button>
                        <button ng-click="publish()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> Publish</button>
                        <button ng-click="unpublish()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> Unpublish</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form class="form-inline float-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm" ng-class="{'active':productShow == 'list'}" ng-click="changeUIlist();">
                                <span class="fa fa-bars fa-lg" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-class="{'active':productShow == 'grid'}" ng-click="changeUIgrid();">
                                <span class="fa fa-th fa-lg" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default" ng-show="productShow == 'list'">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="30">
                                            <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                        </th>
                                        <th>Thumbnail</th>
                                        <th>Product Name</th>
                                        <th>Product Type</th>
                                        <th>Base Price</th>
                                        <th>Publish Status</th>
                                        <th>Last Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                    <tr ng-repeat="var in productsData | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                        <td>
                                            <input type="checkbox" ng-model="var.selected" ng-click="activeArchive(var.p_id);">
                                        </td>
                                        <td>
                                            <img class="thumbnail" ng-src="{{var.product_imgPath}}" err-src="http://placehold.it/50x50" width="50px" height="50px" />
                                        </td>
                                        <td>{{var.item_name}}</td>
                                        <td>{{var.name}}</td>
                                        <td>${{var.sell_price}}</td>
                                        <td>
                                            <span ng-if="var.is_published == '0' " class="label label-danger">&nbsp;&nbsp;&nbsp;</span>
                                            <span ng-if="var.is_published == '1' " class="label label-success">&nbsp;&nbsp;&nbsp;</span>
                                        </td>
                                        <td>{{var.start_date}}</td>
                                        <td><a ui-sref="main.addproduct({product_id:var.p_id})" href="">Edit <i class="fa fa-pencil fa-lg"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav class="pull-right">
                            <ul class="pagination">
                                <li><a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a></li>
                                <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                    <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                </li>
                                <li><a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.panel-->
                </div>
                <div class="panel panel-default" ng-show="productShow == 'grid'">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xs-4 thumb" ng-repeat="var in productsData | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                <div ng-click="activeArchive(var.p_id);selectRow(var)" ng-class="{selected: isSelected(var)}" class="thumbnail">
                                    <img class="img-responsive" ng-src="{{var.product_imgPath}}" err-src="http://placehold.it/400x300" alt="" />
                                    <div class="caption">
                                        <h5>{{var.item_name}}</h5>
                                        <span ng-if="var.is_published == '1' " class="label label-success pull-right">&check;</span>
                                        <span ng-if="var.is_published == '0' " class="label label-danger pull-right">&times;</span>
                                        <p>${{var.sell_price}}</p>
                                        <p>{{var.name}}</p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <nav class="pull-right">
                            <ul class="pagination">
                                <li><a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a></li>
                                <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                    <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                </li>
                                <li><a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
