<div ng-controller="varCTRL">
    <div class="row">
        <div class="well">
            <div class="row" role="search-row">
                <div class="col-lg-12 col-md-12">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox"> Manage variants individually?
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <form class="form-inline float-right" role="form">
                            <div class="form-group">
                                <label for="categoryName">Attribute </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-disabled="false"> All Action
                                                        </label>
                                                    </div>
                                                    <li role="separator" class="divider"></li>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-disabled="false">Action
                                                        </label>
                                                    </div>
                                                    <li role="separator" class="divider"></li>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-disabled="false">Action
                                                        </label>
                                                    </div>
                                                    <li role="separator" class="divider"></li>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-disabled="false">Action
                                                        </label>
                                                    </div>
                                                    <li role="separator" class="divider"></li>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped scrollme">
                                    <thead>
                                        <tr>
                                            <th width="30">
                                                <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                            </th>
                                            <th>Attrib1</th>
                                            <th>Attrib2</th>
                                            <th>Discount</th>
                                            <th>Total Price</th>
                                            <th>SKU</th>
                                            <th>Inventory</th>
                                            <th>Publish Status</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="var in itemArray">
                                            <td>
                                                <input type="checkbox" ng-model="var.selected">
                                            </td>
                                            <td>
                                                <span class="label label-danger">{{var.attrib1}}</span>
                                            </td>
                                            <td>
                                                {{var.attrib2}}
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" style="min-width:50px" id="discount" placeholder="{{var.discount}}">
                                            </td>
                                            <td>
                                                {{4*var.discount}}
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="sku" placeholder="{{var.SKU}}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" style="min-width:50px" id="inventory" placeholder="{{var.inventory}}">
                                            </td>
                                            <td>
                                                <toggle-switch ng-model="switchStatus1">
                                                    <toggle-switch>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-picture"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
