<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>

</div>
<div class="col-lg-10 col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="hover-shadow" ui-sref="main.settingsAttribute" type="button" id="back"><span class="glyphicon glyphicon-chevron-left "></span><label></label></a>
            <h4>Attribute Properties</h4>
            <hr/>
            <div class="col-xs-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" ng-model="attrib.id">
                        <label for="attribName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.name" type="text" class="form-control" id="attribName" placeholder="" name="required" validator="required" valid-method="blur">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="col-sm-2 control-label">Label</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.label" type="text" class="form-control" id="label" placeholder="" name="required" validator="required" valid-method="blur">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputType" class="col-sm-2 control-label">Input Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="singleSelect" ng-model="attrib.type" name="required" validator="required" valid-method="blur">
                                <option value="Textbox">Textbox</option>
                                <option value="Textarea">Textarea</option>
                                <option value="Dropdownlist">Dropdownlist</option>
                                <option value="Checkbox">Checkbox</option>
                                <option value="Rich Textbox">Rich Textbox</option>
                                <option value="Multiselect">Multiselect</option>
                                <option value="Numeric Textbox">Numeric Textbox</option>
                                <option value="QRCode Textbox">QRCode Textbox</option>
                                <option value="Attachment">Attachment</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="defValue" class="col-sm-2 control-label">Default Value</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.default_value" type="text" class="form-control" id="defValue" placeholder="" name="required" validator="required" valid-method="blur">
                        </div>
                    </div>
                </form>
            </div>
            <div class="variant-checkbox col-xs-6">
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.is_visible" type="checkbox" value=""> Visible
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.is_search" type="checkbox" value=""> Required
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.is_variation" type="checkbox" value=""> Variant
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.is_custumizable" type="checkbox" value=""> Costumizable
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.is_unique" type="checkbox" value=""> Unique
                    </label>
                </div>
                <div class="row pull-right">
                    <div class="col-md-4 adding-link">
                        <a ng-click="addValue()" href="">
                            <button type="submit" class="btn btn-primary">Add Value</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="thin-hr">
            <h4><b>Value</b></h4>
            <div ng-repeat="attValue in attrib.Attvalue" style="margin-top: 10px;">
                <form class="form-inline">
                    <div class="form-group inline-margin">
                        <label for="val-value">Value</label>
                        <input ng-model="attValue.value" type="text" class="form-control" id="val-value" placeholder="" name="required" validator="required" valid-method="blur">
                    </div>
                    <div class="form-group inline-margin">
                        <label for="val-label">Label</label>
                        <input ng-model="attValue.sku" type="text" class="form-control" id="val-label" placeholder="" name="required" validator="required" valid-method="blur">
                    </div>
                    <div class="form-group inline-margin">
                        <div ng-repeat="step in stepsModel" class="thumbnail col-xs-4" style="height: 90px; width: 90px; margin-top:20px;">
                            <img style="height: 79px; width: 88px;" data-ng-if="step != null" ng-src="{{step}}" alt="...">
                        </div>
                        <div class="fileUpload btn btn-primary col-xs-5">
                            <center><span>Browse</span></center>
                            <input class="upload" type='file' ng-model="attValue.valImage.value_image" ngf-max-size="8MB" ngf-select="upload($files)" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
                        </div>
                        <button class="fileUpload btn btn-danger col-xs-4" ng-click="removethumb()" ng-show="stepsModel[0]!=='img/default.png'">Remove</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="pull-right">
            <button ng-click="attributesUI()" type="submit" class="btn btn-default">Cancel</button>
            <button ng-click="saveData()" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
