<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                        <input type="hidden" ng-model="storesave.store_id">
                        <label class="col-sm-2 control-label">Store Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="storeName" required placeholder="Enter Store Name" ng-model="storesave.name" required="required" name="name">
                            <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.address.$valid && (!theForm.address.$pristine || theForm.$submitted),
                        'has-success':theForm.address.$valid && (!theForm.address.$pristine || theForm.$submitted)}">
                        <label for="code" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="address" required placeholder="Enter Address" ng-model="storesave.address" required="required" name="address"></textarea>
                            <p class="help-block" ng-show="theForm.address.$error.required && (!theForm.address.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.tin.$valid && (!theForm.tin.$pristine || theForm.$submitted),
                        'has-success':theForm.tin.$valid && (!theForm.tin.$pristine || theForm.$submitted)}">
                        <label for="tin" class="col-sm-2 control-label">TIN</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" class="form-control" id="tin" name="tin" required placeholder="Enter Tin Number Here" ng-model="storesave.tin" ng-only-number data-max-length=13 ng-minlength="9"> -->
                            <input type="text" class="form-control" id="tin" required placeholder="Enter Tin Number" ng-model="storesave.tin" required="required" name="tin">
                            <p class="help-block" ng-show="theForm.tin.$error.required && (!theForm.tin.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                            <!-- <div ng-messages="storedetail.tin.$error" role="alert">
                                    this required message has overridden the template message
                                    <div ng-message="required" style="color:red;">Please input TIN number</div>
                                    this is a brand new message and will appear last in the prioritization
                                    <p ng-message="minlength" style="color:red;">Your TIN number is too short.</p>

                                </div> -->
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.owner.$valid && (!theForm.owner.$pristine || theForm.$submitted),
                        'has-success':theForm.owner.$valid && (!theForm.owner.$pristine || theForm.$submitted)}">
                        <label for="owner" class="col-sm-2 control-label">Owner</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="owner" required placeholder="Enter Store Owner Name" ng-model="storesave.owner_name" required="required" name="owner">
                            <p class="help-block" ng-show="theForm.owner.$error.required && (!theForm.owner.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.contact.$valid && (!theForm.contact.$pristine || theForm.$submitted),
                        'has-success':theForm.contact.$valid && (!theForm.contact.$pristine || theForm.$submitted)}">
                        <label for="contact" class="col-sm-2 control-label">Contact No.</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" class="form-control" id="contact" required placeholder="09XXXXXXXXX" ng-model="storesave.telno" ng-only-number data-max-length=11> -->
                            <input type="text" class="form-control" id="contact" required placeholder="09XXXXXXXXX" ng-model="storesave.telno" ng-only-number required="required" name="contact">
                            <p class="help-block" ng-show="theForm.contact.$error.required && (!theForm.contact.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.email.$valid && (!theForm.coemailntact.$pristine || theForm.$submitted),
                        'has-success':theForm.email.$valid && (!theForm.email.$pristine || theForm.$submitted)}">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="Email" required placeholder="Enter E-mail Address" ng-model="storesave.email_address" required="required" name="email">
                            <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.email.$pristine || theForm.$submitted)">
                                This field is required
                            </p>
                            <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.email.$pristine || theForm.$submitted)">
                                Please enter an email
                            </p>
                            <!-- <div ng-messages="storedetail.Email.$error" role="alert">
                                    this required message has overridden the template message
                                    <div ng-message="required" style="color:red;">You did not enter your email address</div>
                                    this is a brand new message and will appear last in the prioritization
                                    <div ng-message="email" style="color:red;">Your email address is invalid</div>
                                </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr>
        <div class="pull-right">
            <button ui-sref="main.settingsStore" class="btn btn-warning">Cancel</button>
            <button class="btn btn-primary" ng-click="acsavestore()">Save</button>
        </div>
    </div>
</div>
