<div id="main-wrapper">
    <div id="main-page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-jumbotron">
                    <img src="img/POSlogo.png">
                    <h1 class="text-info">Welcome to POS17</h1>
                    <h2 class="text-info">Point of Sale System</h2>
                </div>
            </div>
        </div>
    </div>
</div>
