<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak ng-controller="MasterCtrl">
    <sidebar></sidebar>
    <div id="content-wrapper">
        <div class="page-content">
        	<app-header></app-header>
            <div ui-view name="mainContent"></div>
        </div>
    </div>
</div>
