<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="col-lg-12 col-md-12" ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <form class="form-horizontal" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                        <input type="hidden" ng-model="Categsave.c_id">
                        <input type="hidden" ng-model="Categsave.cat_id">
                        <div class="form-group" ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                            <label for="attribName" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="attribName" placeholder="" ng-model="Categsave.name" required="required" name="name">
                                <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{
                        'has-error':!theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted),
                        'has-success':theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted)}">
                            <label for="label" class="col-sm-4 control-label">Label</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="label" placeholder="" ng-model="Categsave.label" required="required" name="label">
                                <p class="help-block" ng-show="theForm.label.$error.required && (!theForm.label.$pristine || theForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{
                        'has-error':!theForm.description.$valid && (!theForm.description.$pristine || theForm.$submitted),
                        'has-success':theForm.description.$valid && (!theForm.description.$pristine || theForm.$submitted)}">
                            <label for="code" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" id="address" ng-model="Categsave.description" required="required" name="description"></textarea>
                                <p class="help-block" ng-show="theForm.description.$error.required && (!theForm.description.$pristine || theForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{
                        'has-error':!theForm.supplier.$valid && (!theForm.supplier.$pristine || theForm.$submitted),
                        'has-success':theForm.supplier.$valid && (!theForm.supplier.$pristine || theForm.$submitted)}">
                            <label for="productType" class="col-sm-4 control-label">Parent Category</label>
                            <div class="col-sm-8">
                                <!--                                     <select class="form-control" aria-label="..." id="prodtype" ng-model="prod.supplier_id" required="required" name="supplier">
                                        <option ng-repeat="supp in suppliers" value="{{supp.s_id}}">{{supp.name}}</option>

                                    </select> -->
                                <!--  <ivh-dropdown ivh-model="roleList"></ivh-dropdown> -->
                                <div class="dropdown-with-ivhTreeView ">
                                    <div class="dropDown " ng-click="onClickShowHideIVHDropdown1($event)">
                                        {{selectedText}}
                                        <div class="dropDownButton">
                                            <div class="dropDownButtonIcon"></div>
                                        </div>
                                    </div>
                                    <div class="dropDownContent">
                                        <input type="radio" ng-model="noparentID" /><span>None</span>
                                        <hr/>
                                        <!-- INSERTING ivhTreeView : START -->
                                        <div data-angular-treeview="true" data-tree-id="abc" data-tree-model="roleList" data-node-id="id" data-node-label="label" data-node-children="children">
                                        </div>
                                        <input type="text" value="" ng-model="abc.currentNode.id" />
                                    </div>
                                </div>
                                <!--      <select ng-model="Categsave.parentCategory" ng-options="cat.label group by cat.parentid for cat in roleList">
                                </select> -->
                                <!-- <input type="text" ng-model="mytree" class="searchBox"> -->
                                <p class="help-block" ng-show="theForm.supplier.$error.required && (!theForm.supplier.$pristine || theForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">
                                <img ngf-src="Categsave.c_image" err-src="http://placehold.it/250x250" class="thumbnail" width="250" height="250">
                                <div class="input-group image-preview">
                                    <span class="input-group-btn"> 
                                    <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="Categsave.c_image"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                                    <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                        <input type="file" accept="image/png, image/jpeg, image/gif" ng-model="Categsave.c_image" ngf-max-size="8MB" ngf-select/>
                                    </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button type="submit" ng-click="cancel()" class="btn btn-default">Cancel</button>
                            <button ng-click="acsaveCAT(abc.currentNode.id)" class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-md-6">
                    <label>Parent Category</label>
                    <input type="checkbox" ng-model="TPchecked" ng-change="toplevelCategory()"> Top Level Category
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <fieldset ng-show="!TPchecked">
                                <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="roleList" data-node-id="id" data-node-label="label" data-node-children="items">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
