<form class="form-signin">
    <img src="img/POSlogo.png">
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Username" ng-model="user.username" autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password">
    <a class="btn btn-lg btn-primary btn-block" ng-click="submit()">Login</a>
</form>
