/*!
Styling goes here
 */
 .ng-invalid.ng-dirty { border-color: red; }

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin img {
    width: 230px;
    display: block;
    margin: auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#main-wrapper {
    padding-left: 0;
}

#main-page-wrapper {
    width: 100%;
    padding: 5px 15px;
}

@media (min-width: 768px) {
    /* Wrappers */
    #main-page-wrapper {
        padding: 15px 25px;
    }
}

.main-jumbotron {
    text-align: center;
    background-color: inherit;
}

.main-jumbotron h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
}

.main-jumbotron img {
    width: 260px;
}

.selected {
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #16A085;
    box-shadow: 0 0 10px #16A085;
}

div[role=search-row] h3 {
    margin: 0 0 2%
}

@media (min-width: 768px) {
    div[role=search-row] .float-right {
        float: right
    }
}

.open > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

.center-td {
    text-align: center;
    vertical-align: middle !important;
    font-weight: bold;
    font-size: 18px;
}

.center-td-table {
    text-align: center;
    vertical-align: middle !important;
}

.role-tag {
    margin-right: 5px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

/*--------------ivh-tree*/
/* Put your css in here */

.dropdown-with-ivhTreeView{
    position: relative;
    display: inline-block;
    min-width: 10em;
    width: 20em;
    z-index: inherit;
}

.dropdown-with-ivhTreeView .dropDown
{
    min-width: inherit;
    width: inherit;
    height: 1.5em;
    border: 1px solid black;
    cursor: pointer;
    text-align: middle;
    overflow: hidden;
    z-index: inherit;
}

.dropdown-with-ivhTreeView .dropDown .dropDownButton
{
    float: right;
    background-color: #3399ff;
    border-left: inherit;
    width: 20px;
    height: 100%;
    text-align: center;
    z-index: inherit;
}

.dropdown-with-ivhTreeView .dropDown .dropDownButton .dropDownButtonIcon
{
    width: 0px !important;
    height: 0px !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 8px solid white !important;
    border-bottom: 0px solid transparent !important;
    top: 35%;
    left: 30%;
    position: relative !important;
}

.dropdown-with-ivhTreeView .dropDownContent
{
    background-color: white;
    min-width: inherit;
    max-height: 20em;
    width: inherit;
    overflow: auto;
    display: none;
    position: absolute !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    z-index: inherit;
}

.dropdown-with-ivhTreeView .dropDownContent .searchBox
{
    position: relative !important;
    top: 6px;
    left: 6px;
    width: 95%;
}

.dropdown-with-ivhTreeView .show 
{
    display:block;
}

.dropdown-with-ivhTreeView .dropDownContent .ivhTree
{
    position: relative !important;
    left: 3px;
    max-width: 95%;
}

/*Related to Inner Tree View Colasable icon : START */
.arrow-right
{
    width: 0px !important;
    height: 0px !important;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-left: 8px solid black !important;
    border-right: 0px solid transparent !important;
    top: -2px;
    left: 3px;
    position: relative !important;
    display: inline-block;
}

.arrow-down
{
    width: 0px !important;
    height: 0px !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 8px solid black !important;
    border-bottom: 0px solid transparent !important;
    top: -2px;
    left: 3px;
    position: relative !important;
    display: inline-block;
}
/*Related to Inner Tree View Colasable icon : END */
ul.ivh-treeview {
  list-style-type: none;
  padding-left: 0;
}
ul.ivh-treeview ul.ivh-treeview {
  padding-left: 15px;
}
ul.ivh-treeview .ivh-treeview-toggle {
  cursor: pointer;
}
ul.ivh-treeview .ivh-treeview-node-leaf .ivh-treeview-toggle {
  cursor: auto;
}
/**
 * Treeview styles
 *
 * @private
 * @package ivh.treeview
 * @copyright 2014 iVantage Health Analytics, Inc.
 */
ul.ivh-treeview li.ivh-treeview-node-collapsed ul.ivh-treeview {
  display: none;
}
ul.ivh-treeview .ivh-treeview-twistie-leaf,
ul.ivh-treeview .ivh-treeview-twistie-collapsed {
  display: none;
}
ul.ivh-treeview .ivh-treeview-node-collapsed .ivh-treeview-twistie-collapsed {
  display: inline;
}
ul.ivh-treeview .ivh-treeview-node-collapsed .ivh-treeview-twistie-expanded {
  display: none;
}
ul.ivh-treeview li.ivh-treeview-node-leaf .ivh-treeview-twistie-leaf {
  display: inline;
}
ul.ivh-treeview li.ivh-treeview-node-leaf .ivh-treeview-twistie-expanded,
ul.ivh-treeview li.ivh-treeview-node-leaf .ivh-treeview-twistie-collapsed {
  display: none;
}
